* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-container1 {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 600px;
}

.creatives {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding-top: 40px;
}
.creatives h2 {
  font-size: 60px;
  color: white;
}
.container {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.container h2 {
  font-size: 40px;
}
.container ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}
.hamburger {
  display: none;
}

.container ul li {
  padding: 10px 20px;
  cursor: pointer;
}

.container ul li:hover {
  background-color: white;
  color: black;
  border-radius: 20px;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 240vh;
  gap: 0;
}

.boxes1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 100px;
}

.learn {
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.boxes2 {
  background-image: url(images/desktop/image-transform.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.boxes3 {
  background-image: url(images/desktop/image-stand-out.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.boxes4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small4 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 100px;
}

.boxes5 {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small5 {
  text-align: center;
  gap: 30px;
  display: flex;
  position: relative;
  top: 90px;
  flex-direction: column;
  color: hsl(167, 40%, 24%);
  padding: 0 50px;
}

.boxes6 {
  background-image: url(images/desktop/image-photography.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small6 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: hsl(198, 62%, 26%);
  padding: 0 50px;
  position: relative;
  top: 90px;
}

.clients {
  background-color: #fffbf8;
  padding: 100px 20px;
  text-align: center;
}

.clients-title {
  color: #a7abae;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.clients-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.client-box {
  flex: 1;
  min-width: 300px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
}

.client-text {
  color: hsl(213, 9%, 39%);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.client-name {
  color: #24303e;
  font-size: 20px;
  margin-bottom: 10px;
}

.client-position {
  color: #a7abae;
  font-size: 14px;
}

.cone {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cone1 {
  background-image: url(images/desktop/image-gallery-milkbottles.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.cone2 {
  background-image: url(images/desktop/image-gallery-orange.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.cone3 {
  background-image: url(images/desktop/image-gallery-cone.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.cone4 {
  background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
}

.footer {
  background-color: #90d4c5;
  padding: 60px 20px;
  text-align: center;
}

.footer-logo {
  color: #2c7566;
  font-size: 32px;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-bottom: 30px;
  font-weight: 700;
}

.footer-nav {
  margin-bottom: 60px;
}

.footer-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-list li a {
  color: #458c7e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer-list li a:hover {
  color: white;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.link1 img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .container ul {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 30px;
  }

  .boxes {
    display: flex;
    flex-direction: column;
  }
  .creatives h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
  }
  .boxes1 {
    height: 150vh;
    display: flex;
    flex-direction: column;

    font-weight: bold;
    justify-content: center;
    align-items: center;
  }
  .small1 h1 {
    display: flex;
   
    width: 280px;
    flex-direction: column;
  }
  .small1 h1 .trans{
    margin-left: 63px;
  }
  .small1 p{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: rgb(44, 44, 44);
    
  }
  .learn{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

}
